<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pertamina.pertaminatuban">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClickTuban"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".distribusi.DistribusiActivity"
            android:label="@string/title_activity_distribusi"
            android:parentActivityName=".activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".distribusi.InputMatbalActivity"
            android:label="@string/title_activity_input_matbal"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.KonsumenActivity"
            android:label="@string/title_activity_konsumen"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.MatbalActivity"
            android:label="@string/title_activity_matbal"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.OpersActivity"
            android:label="@string/title_activity_opers"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.WilayahActivity"
            android:label="@string/title_activity_wilayah"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.InputKonsumenActivity"
            android:label="@string/title_activity_input_konsumen"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.InputWilayahActivity"
            android:label="@string/title_activity_input_wilayah"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.InputOpersActivity"
            android:label="@string/title_activity_input_opers"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".distribusi.InputRitaseActivity"
            android:label="@string/title_activity_input_ritase"
            android:parentActivityName=".distribusi.DistribusiActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.distribusi.DistribusiActivity" />
        </activity>
        <activity
            android:name=".info_umum.InfoUmumActivity"
            android:label="@string/title_activity_info_umum"
            android:parentActivityName=".activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".info_umum.PostInfoActivity"
            android:label="@string/title_activity_post_info"
            android:parentActivityName=".info_umum.InfoUmumActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.info_umum.InfoUmumActivity" />
        </activity>
        <activity
            android:name=".marine.MarineActivity"
            android:label="@string/title_activity_marine"
            android:parentActivityName=".activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".marine.input.InputInitialTankerActivity"
            android:label="@string/title_activity_input_initial_tanker"
            android:parentActivityName=".marine.input.PilihTankerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.input.PilihTankerActivity" />
        </activity>
        <activity
            android:name=".marine.input.InputTankerMovementActivity"
            android:label="@string/title_activity_input_tanker_movement"
            android:parentActivityName=".marine.input.PilihTankerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.input.PilihTankerActivity" />
        </activity>
        <activity
            android:name=".marine.input.InputShipConditionActivity"
            android:label="@string/title_activity_input_ship_condition"
            android:parentActivityName=".marine.input.PilihTankerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.input.PilihTankerActivity" />
        </activity>
        <activity
            android:name=".marine.input.InputWaitingTimeActivity"
            android:label="@string/title_activity_input_waiting_time"
            android:parentActivityName=".marine.input.PilihTankerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.input.PilihTankerActivity" />
        </activity>
        <activity
            android:name=".marine.input.InputTemporaryStopActivity"
            android:label="@string/title_activity_input_temporary_stop"
            android:parentActivityName=".marine.input.PilihTankerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.input.PilihTankerActivity" />
        </activity>
        <activity
            android:name=".marine.input.InputPortChargesActivity"
            android:label="@string/title_activity_input_port_charges"
            android:parentActivityName=".marine.input.PilihTankerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.input.PilihTankerActivity" />
        </activity>
        <activity
            android:name=".marine.input.InputShipParticularActivity"
            android:label="@string/title_activity_input_ship_particular"
            android:parentActivityName=".marine.input.PilihTankerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.input.PilihTankerActivity" />
        </activity>
        <activity
            android:name=".marine.InitialTankerActivity"
            android:label="@string/title_activity_initial_tanker"
            android:parentActivityName=".marine.MarineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.MarineActivity" />
        </activity>
        <activity
            android:name=".marine.PortChargesActivity"
            android:label="@string/title_activity_port_charges"
            android:parentActivityName=".marine.MarineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.MarineActivity" />
        </activity>
        <activity
            android:name=".marine.ShipConditionActivity"
            android:label="@string/title_activity_ship_condition"
            android:parentActivityName=".marine.MarineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.MarineActivity" />
        </activity>
        <activity
            android:name=".marine.ShipParticularActivity"
            android:label="@string/title_activity_ship_particular"
            android:parentActivityName=".marine.MarineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.MarineActivity" />
        </activity>
        <activity
            android:name=".marine.TankerMovementActivity"
            android:label="@string/title_activity_tanker_movement"
            android:parentActivityName=".marine.MarineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.MarineActivity" />
        </activity>
        <activity
            android:name=".marine.TemporaryStopActivity"
            android:label="@string/title_activity_temporary_stop"
            android:parentActivityName=".marine.MarineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.MarineActivity" />
        </activity>
        <activity
            android:name=".marine.WaitingTimeActivity"
            android:label="@string/title_activity_waiting_time"
            android:parentActivityName=".marine.MarineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.marine.MarineActivity" />
        </activity>
        <activity
            android:name=".marine.input.PilihTankerActivity"
            android:label="@string/title_activity_pilih_tanker"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".marine.NewMarineActivity"
            android:label="@string/title_activity_new_marine"
            android:parentActivityName=".activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pertamina.pertaminatuban.activities.MenuActivity" />
        </activity>
    </application>

</manifest>